[submodule "web3dev_solidity_smart_contract_backend"]
	path = backend
	url = https://github.com/JG-Lembo/web3dev_solidity_smart_contract_backend.git
[submodule "web3dev_solidity_smart_contract_frontend"]
	path = frontend
	url = https://github.com/JG-Lembo/web3dev_solidity_smart_contract_frontend.git
